head, body {
  font-family: "Amatic SC";
  font-size: 2vw;
  text-align: center;
  margin: 0px;
  color:#9933ff
}
iframe {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  border-radius: 0px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #FF0090;
  color: white;
}

.fa-youtube {
  background: red;
  color: white;
}


.topnav {
  background-color: #FFA500;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}
.topnav a:hover {
  background-color: #ff3399;
}
.topnav a.active {
  background-color: #4CAF50;
  color: white;
