head, body {
  font-family: helvetica;
    text-align: center;
}
iframe {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  border-radius: 0px;
}
.topnav {
  background-color: #FFA500;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ff3399;
}
.topnav a.active {
  background-color: #4CAF50;
  color: white;
